.todo {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: clamp(500px, 1000%, 50vw);
    margin-bottom: 10px;
}

.todo:checked {
    display: flex;
    flex-direction: row;
    text-decoration: line-through;
    justify-content: center;
    margin-bottom: 10px;
}